---
title: kyon's home sweet home
subtitle: "Hi, I'm kyon! I made my first homepage! Lots of things will be posted here- you can browse all of them below!"
headless: true
thumbnail: assets/images/preview.png
---

<div id="intro">
    <img src="/assets/images/avatar.png" alt="Cartoon avatar of blinry" />
    <div>
    Hi, I'm <b>kyon</b>! I made my first homepage! Lots of things will be posted here- you can browse all of them below!
    </div>
</div>

<div class="content">
    <h1 id="latest">Latest</h1>

    <p>Here's the 6 newest things I've released!</p>
</div>

<%= box(things[0..5]) %>

<div class="content">
    <h1 id="popular">Popular</h1>

    <p>Here's some of my most popular projects!</p>
</div>

<%= box(with_tag("popular")) %>

<div class="content">
    <h1 id="favs">My favorites</h1>

    <p>And here's the things I'm most proud of!</p>
</div>

<%= box(with_tag("fav")) %>

<div class="content">
    <h1>Games</h1>

    <p>I love to create video games, especially for game jams!</p>
</div>

<%= box(with_tag("game")) %>

<div class="content">
    <h1>Talks</h1>

    <p>I often give talks about things that fascinate me!</p>
</div>

<%= box(with_tag("talk")) %>

<div class="content">
    <h1>Everything</h1>

    <p>Besides that, I make a lot of other things! Here's everything at once!</p>
</div>

<%= box(things) %>
